<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage account</title>
</head>
<body>
    <h1><%=user.first_name%> <%=user.last_name%></h1>
    <ul>
        <li>Username: <%=user.username%></li>
        <li>Account created at: <%=user.created_at%></li>
        <li>Role: <%=user.role%></li>
    </ul>
    <a href="/logout">Logout</a>
    <a href="/main-content">Back to main content</a>
</body>
</html>