<section>
    <h3><%= message.heading %></h3>
    <p><%= message.content %></p>

    <% if(role!=='user') {%>
    <p>Created at: <%= message.created_at%></p>
    <p>Updated at: <%= message.updated_at%></p>
    <% } %>

    <% if(role==='admin') {%>
        <p>Created by: <%= message.created_by %>, Creator's id: <%=message.user_id%></p>
        <form action="message/delete/<%=message.id%>" method="post">
            <button type="submit">delete message</button>
        </form>
    <%}%>


</section>